<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>基金组合列表</title>
		<link href="http://cdn.bootcss.com/uikit/2.26.3/css/uikit.min.css" rel="stylesheet">
		<link href="//cdn.bootcss.com/uikit/2.26.3/css/components/sticky.css">
		<link href="/public/stylesheets/fund/Portfolios/list.css" rel="stylesheet" >
		<link href="/public/stylesheets/index.css" rel="stylesheet">
		#{get 'moreCss' /}
		<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/uikit/2.26.3/js/uikit.min.js"></script>
		<script src="//cdn.bootcss.com/uikit/2.26.3/js/components/sticky.js"></script>
		<script src="//cdn.bootcss.com/uikit/2.26.3/js/components/pagination.js"></script>
		#{get 'moreScripts'/}
	</head>
	<body>
		<div class="uk-grid uk-text-center" >
			<div class="uk-width-1-1" id="portfolioHead">
				<h2>基金组合</h2>
			</div>
		</div>
		<div class="uk-grid  uk-margin-top-remove" id="infoList">
			<!-- 基金组合展示区
						 * 1、组合策略代码、
						 * 2、组合策略名称
						 * 3、策略描述
						 * 4、提供人
						 * 5、比较基准
						 * 6、最新净值日期
						 * 7、最新净值
						 * 8、基准净值  
					-->
					#{list portofolios,as:'t'}
					<div class="uk-width-1-1"><hr style="border-top:10px solid #ddd;margin:0"></div>
					<div class="uk-width-1-1" style="background-color:#f5f5f5;line-height:150%">
						<div class="uk-panel uk-panel-box">
							<div class="uk-grid">
								<div class="uk-width-1-2">
									<a href="/portfolio/detail/${t[0]}"><b>${t[1]}(${t[0]})</b></a>
								</div>
								<div class="uk-width-1-2">最新净值<br><b style="color:red">${t[6]}</b><b>(${t[5]})</b></div>
								<div class="uk-width-1-1"><hr class="uk-grid-divider"></div>
								<div class="uk-width-1-1">策略介绍：#{if t[2]==null||t[2].equals("")}暂无介绍#{/if}#{else}${t[2]}#{/else}</div>
							</div>
						</div>
					</div>
				#{/list}
			<!-- 基金组合展示区  -->
			</div>
#{include "footer.html" /}		
	</body>
</html>