<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>基金信息</title>
		<link href="http://cdn.bootcss.com/uikit/2.26.3/css/uikit.min.css" rel="stylesheet">
		<link href="//cdn.bootcss.com/uikit/2.26.3/css/components/sticky.css" rel="stylesheet">
		<link href="/public/stylesheets/fund/Funds/fundInfo.css" rel="stylesheet">
		#{get 'moreCss' /}
		<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/uikit/2.26.3/js/uikit.min.js"></script>
		<script src="//cdn.bootcss.com/uikit/2.26.3/js/components/sticky.js"></script>
		<script src="//cdn.bootcss.com/uikit/2.26.3/js/components/pagination.js"></script>
		<script src="//cdn.bootcss.com/echarts/3.2.1/echarts.min.js"></script>
		#{get 'moreScripts'/}
	</head>
	<body>
		#{include "./fundInfoHead.html" /}
		<div class="uk-grid">
			<div class="uk-width-1-1">
				<div class="uk-panel uk-panel-box">
				    <h3 class="uk-panel-title"><b>基金简介</b></h3>
				    <dl class="uk-description-list-line">
					    <dt>基金名称</dt>
					    <dd>${fund.fund_name}</dd>
					    <dt>基金类型</dt>
					    <dd>${fund.investmentType1}</dd>
					    <dt>成立时间</dt>
					    <dd>${fund.establishDate}</dd>
					    <dt>资产规模</dt>
					    <dd>${fund.establishScale}</dd>
					    <dt>所属公司</dt>
					    <dd>${fund.fund_company}</dd>
					    
					</dl>
				</div>
			</div>
			<div class="uk-width-1-1">
				<div class="uk-panel uk-panel-box">
					    <h3 class="uk-panel-title"><b>投资目标</b></h3>
					    <p>
					     ${fund.inverstment_target}
					    </p>
					</div>
			</div>
			<div class="uk-width-1-1">
				<div class="uk-panel uk-panel-box">
					    <h3 class="uk-panel-title"><b>业绩比较基准</b></h3>
						<p>
				        ${fund.benchmark}
					    </p>
					</div>
			</div>
		</div>
		<script>
			$(function(){
				$('#fundInfo-tabindex ul li').removeClass("uk-active");
				$('#fundInfo-tabindex ul li:nth-child(2)').addClass("uk-active");
			}); 
		</script>
	</body>
</html>