<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>基金列表</title>
		<link href="http://cdn.bootcss.com/uikit/2.26.3/css/uikit.min.css" rel="stylesheet">
		<link href="//cdn.bootcss.com/uikit/2.26.3/css/components/sticky.css">
		<link href="/public/stylesheets/index.css" rel="stylesheet">
		#{get 'moreCss' /}
		<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/uikit/2.26.3/js/uikit.min.js"></script>
		<script src="//cdn.bootcss.com/uikit/2.26.3/js/components/sticky.js"></script>
		<script src="//cdn.bootcss.com/uikit/2.26.3/js/components/pagination.js"></script>
		#{get 'moreScripts'/}
	</head>
	<body>
		<nav class="uk-navbar" data-uk-sticky>
			<ul class="uk-navbar-nav">
				<li class="uk-active"><a href="">全部</a></li>
				#{list items:types,as:'type'} 
				<li><a href="/fund/data/${type}/0">${type}</a></li>
				#{/list}
			</ul>
		</nav>
		<!-- 
		<div id="search-form" class="uk-offcanvas">
    		<div class="uk-offcanvas-bar">
    			<div class="uk-panel">
    				
    			</div>
    		</div>
		</div>
		 -->
		 
		#{include "./fundTable.html" /}
		<!--  
		<ul class="uk-pagination" data-uk-pagination="{items:${count}, pages:${pages},currentPage:${page},displayedPages:5}"></ul>
		<script>
			$(document).ready(function(){
				$('[data-uk-pagination]').on('select.uk.pagination', function(e, pageIndex){
				    window.location.href="/fund/list/"+(pageIndex);
				});
			}); 
		</script>
		-->
		#{include "footer.html" /}
	</body>
</html>