		<table class="uk-table uk-table-stripped uk-table-hover">
			<thead>
        		<tr>
            		<th class="uk-width-1-3">姓名</th>
            		<th class="uk-width-1-3">任职开始日期</th>
            		<th class="uk-width-1-3">任职公司</th>
        		</tr>
    		</thead>
    		<tbody>
    			#{list infos,as:'info'}
    			<tr>
    				<td><a href="/manager/info/${info.id}">${info.managerName}</a></td>
    				<td>${info.tenureStartDate}</td>
    				<td>
    				${info.tenureCompany}
    				</td>
    			</tr>
    			#{/list}
    		</tbody>
		</table>