<div>
	<div style="height:60px"></div>
	<div id="footer">
		<div class="uk-grid uk-text-center">
			<div class="uk-width-1-4"><a href="/" class="uk-icon-hover uk-icon-large uk-icon-home"></a><p class="uk-margin-remove">首页</p></div>
			<div class="uk-width-1-4"><a href="/collections" class="uk-icon-hover uk-icon-large uk-icon-star"></a><p class="uk-margin-remove">收藏</p></div>
			<div class="uk-width-1-4"><a href="/bind" class="uk-icon-hover uk-icon-large uk-icon-user"></a><p class="uk-margin-remove">我的</p></div>
			<div class="uk-width-1-4"><a href="/about" class="uk-icon-hover uk-icon-large uk-icon-cog"></a><p class="uk-margin-remove">关于</p></div>
		</div>
	</div>
</div>